<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Mata - Consultorio Médico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Consultorio Médico</h1>
    </div>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/services">Servicios</a>
        <a href="/contact">Contacto</a>
        <a href="/schedule">Agende su cita!</a>
        <a href="/schedules">Agenda actual</a>
        <a href="/login">Iniciar Sesión</a>
    </div>
    <div class="container">
        <h2>Bienvenido al consultorio médico</h2>
        <p>Ofrecemos una variedad de servicios para cuidar tu salud.</p>
    </div>
</body>
</html>